*{
    text-align:center;
    list-style-position:inside;
    font-family: 'Roboto', sans-serif;
}
nav>a{
    margin: 3px;
}
h1{
    color:red;
}
h2{
    color:purple;
}
h4{
    color:orange;
}
.instrument{
    height: 200px;
}